[submodule "src/kernels/seL4"]
	path = src/kernel/seL4
	url = https://github.com/seL4/seL4.git
	branch = master
[submodule "src/kernels/rux"]
	path = src/kernel/rux
	url = https://github.com/codesforu/rux.git
	branch =master
